h1 {
  text-align: center;
  padding-top: 1em;
  font-size: 3em;
}

h2 {
  text-align: center;
  padding: .5em;
}

h3{
  padding: 2em;
  text-decoration: underline;
}

p {
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.2em;
  line-height: 2em;
}
