#php_footer{
  width: 100%;
  color: white;
  background-color: black;
  border: 1px solid black;
  overflow-y: auto;
}

#php_footer_description, #php_footer_copyright{
  padding: 1em;
  line-height: 1.5em;
}

#php_footer_description{
  float: left;
}

#php_footer_copyright{
  float: right;
  text-align: right;
}
