/*

CSS for all pages on heinhtet.info
page background color: ivory

*/
*{
    margin:0;
    padding:0;
}

body{
  font-family: sans-serif;
  margin: 0;
  outline: none;
}

#wrapper{
  font-family: 'Playfair Display', serif;
  background-color: ivory;
  padding-bottom: 2em;
}

.emphasis{
  color: red;
}

.emphasis:hover{
  cursor: pointer;
}