body{
  font-family: sans-serif;
}

#php_header a{
  outline: 0;
}

#php_header{
  background-color: ivory;
  overflow: auto;
  border: 1px solid black;
}

#php_header_site_identity{
  width: 200px;
  height: auto;
  float: left;
}

#php_header_logo{
  width: 75%;
  display: block;
  margin: auto;
  padding: 10px;
}

#php_header_name{
  font-family: 'Times New Roman', serif;
  font-size: 400%;
  text-align: center;
  position: relative;
}

#php_header_social_links{
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
}

#php_header_social_buttons li{
  list-style: none;
  background-color: ivory;
  border-left: 1px solid lightgrey;
}

#php_header_social_buttons li a{
  display: block;
  padding: 5px;
  margin: auto;
}

.php_header_social_icons{
  width: 30px;
  height: 30px;
}

.php_header_social_icons:hover{
  filter: brightness(50%);
}

#php_header_navbar{
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#php_header_navbar_links li{
  display: inline;
}

#php_header_navbar_links li a{
  padding: 2em;
  text-align: center;
  text-decoration: none;
  background-color: black;
  color: white;
  decoration: none;
  border: 1px solid black;
}

#php_header_navbar_links li a:hover, .php_header_active_tab{
  background-color: darkslategrey;
  border: 1px solid white;
}
