#php_header a{
  outline: 0;
}

#php_header{
  background-color: ivory;
  overflow: auto;
  display: block;
}

#php_header_site_identity{
  width: 33%;
  height: auto;
  /* float: left; */
  display: block;
  margin: 0 auto;
}

#php_header_logo{
  width: 200px;
  display: block;
  margin: auto;
  padding: 10px;
}

#php_header_name{
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  text-align: center;
}

#php_header_social_links{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

#php_header_social_buttons {
  margin: 0;
  padding-top: 8px;
  padding-right: 10px;
  padding-left: 3px;
  padding-bottom: 3px;
}

#php_header_social_buttons li{
  display: inline-block;
}

#php_header_social_buttons li a{
  padding: 2px;
}

.php_header_social_icons{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid silver;
}

.php_header_social_icons:hover{
  filter: brightness(50%);
}

#php_header_navbar{
  width: 100%;
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#php_header_navbar_links {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

#php_header_navbar_links li{
  display: inline;
}

#php_header_navbar_links li a{
  padding: 2em;
  text-align: center;
  text-decoration: none;
  background-color: black;
  color: white;
  decoration: none;
  border: 1px solid black;
  cursor: pointer;
  cursor: hand;
}

#php_header_navbar_links li a:hover, .php_header_navbar_active_tab {
  background-color: darkslategrey !important;
  border: 1px solid white !important;
}
